<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <section class="text-gray-400 body-font bg-gray-900">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">Upcomming Events</h1>
          <div class="h-1 w-20 bg-blue-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-400 text-opacity-90">Dive into tech innovation at our
          upcoming hackathon & workshops! Tackle real-world challenges, learn new skills, and compete for prizes. Don't
          miss out – register now! </p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="tximage11.jpg" alt="content">
            <h3 class="tracking-widest text-blue-400 text-xs font-medium title-font">Kanpur Worshop</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">22 April</h2>
            <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon
              disrupt edison bulbche.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="tximage12.jpg" alt="content">
            <h3 class="tracking-widest text-blue-400 text-xs font-medium title-font">Techathon -1 </h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">26 April</h2>
            <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon
              disrupt edison bulbche.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="tximage13.jpg" alt="content">
            <h3 class="tracking-widest text-blue-400 text-xs font-medium title-font">Lucknow Worshop</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">6 May</h2>
            <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon
              disrupt edison bulbche.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="tximage6.jpg" alt="content">
            <h3 class="tracking-widest text-blue-400 text-xs font-medium title-font">Techathon -2</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">15 May</h2>
            <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon
              disrupt edison bulbche.</p>
          </div>
        </div>
      </div>

    </div>

  </section>
</body>

</html>